<h1>Employees</h1>

<input type="text" placeholder="Search employee" [(ngModel)]="searchedEmployee">
<button class="btn btn-success" (click)="AddStock()">Add Stock</button>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Salary</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td *ngIf="employees.length == 0" colspan="7"><h6>No Employee Found</h6></td>
    </tr>
    <tr *ngFor="let employee of employees | search: searchedEmployee;" appHighlight="{{cellTextDynamicColor}}">
      <td>
        <span> {{employee.employeeID}} </span>
      </td>
      <td>
        <!-- In order to bind data to text using ngModel, FormsModule is required to be injected -->
        <input *ngIf="isEditClicked" type="text" placeholder="Enter first name" [(ngModel)]="employee.firstName"/> <!--String interpolation method : value="{{employee.firstName}}"-->
        <span *ngIf="!isEditClicked">{{employee.firstName | parenthesis : false }}</span>
      </td>
      <td>
        <input *ngIf="isEditClicked" type="text" placeholder="Enter last name" [(ngModel)]="employee.lastName"/>
        <span *ngIf="!isEditClicked">{{employee.lastName}}</span>
      </td>
      <td [ngClass]="employee.salary > 6000 ? 'cellTextRed':'cellTextBlue'">
        <input *ngIf="isEditClicked" type="text" placeholder="Enter salary" [(ngModel)]="employee.salary "/>
        <span *ngIf="!isEditClicked">{{employee.salary | parenthesis : true }}</span>
        <!-- <span *ngIf="!isEditClicked">{{employee.salary | number:'4.3-5' }}</span> -->
      </td>
      <td [ngStyle]="{'color':cellTextDynamicColor}"> <!--Property binding - Apply dynamic style-->
        <input *ngIf="isEditClicked" type="text" placeholder="Enter date of birth" [(ngModel)]="employee.dOB"/>
        <span *ngIf="!isEditClicked">{{employee.dOB | date:'MMM dd, yyyy'}}</span>
      </td>
      <td ngClass="cellTextBlue"> <!-- Static style apply -->
        <input *ngIf="isEditClicked" type="text" placeholder="Enter email" [(ngModel)]="employee.email"/>
        <span *ngIf="!isEditClicked">{{employee.email}}</span>
      </td>
      <td>
        <span *ngIf="!isEditClicked">
          <button class="btn btn-dark" (click)="EditEmployee(employee.employeeID)">Edit User</button>
        </span>
        <span *ngIf="isEditClicked">
          <button class="btn btn-success" (click)="UpdateEmployee()">Update User</button>
          <button [class] = "['btn', 'btn-danger']" (click)="CancelUpdate()" style="margin-left:5px;">Cancel</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <span>Color of Date of Birgh: </span><input type="color" [(ngModel)]="cellTextDynamicColor">
</div>