.highlight{
  background-color: yellow;
}

.nohighlight{
  background-color: white;
}

.cellTextRed{
  color: red;
}

.cellTextWhite{
  color: white;
}

.cellTextYellow{
  color: yellow;
}

.cellTextBlue{
  color: blueviolet;
}

